.App {
  text-align: center;
}
html, body, #root {
  height: 100vh;
  background: linear-gradient(135deg, rgba(140, 37, 67, 1) 0%, rgba(42, 40, 62, 1) 50%, rgba(22, 105, 149, 1) 100%) no-repeat fixed;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/source-sans-pro.light.ttf");
}

@font-face {
  font-family: "Dancing Script";
  src: url("../fonts/DancingScript-VariableFont_wght.ttf")
}

@font-face {
  font-family: "Tangerine Regular";
  src: url("../fonts/Tangerine-Regular.ttf");
}
a {
  color: #f0f0f8;
  text-decoration: none;

}
a:visited {
  color: #f0f0f8;
}
p {
  font-size: 24px;
  font-weight: bold;
  color: #f0f0f8;
}
img {
  border-radius: 75%;
  border: 5px solid #2a283e;
  box-shadow: 5px 5px 5px;
}