.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 20px;
    opacity: 1;
    position: absolute;
    top: 5%;
    animation: 1s opacity, 1s moveNavbarTop;
    box-shadow: 3px 3px 3px var(--tertiary-color);
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul > li {
    display: inline-block;
    padding: 5px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
    animation: 1s opacity, 1s moveContentTop;
}

.title {
    font-family: "Tangerine Regular", cursive;
    font-size: 3rem;
    font-weight: lighter;
    color: var(--text-color);
    margin: 16px;
}

.active {
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: 2px solid
}

#icon {
    border-radius: 75%;
    border: 5px solid #2a283e;
    box-shadow: 5px 5px 5px;
}

#artist {
    text-decoration: underline;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveNavbarTop {
    0% {
        top: 50%;
    }
    100% {
        overflow: hidden;
        top: 5%;
    }
}

@keyframes moveContentTop {
    0% {
        top: 100%;
    }
    100% {
        overflow: hidden;
        top: 15%;

    }
}
